html, body {
    height: 100%;
}

div#content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.pure-g {
    padding: 15px 0px 15px 0px;
}

.container {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.1em;
}

a, a:visited {
    color: #0078e7;
    text-decoration: none;
}

a:hover, a:active {
    color: #0078e7;
    text-decoration: underline;
}