{{ $purecssbase := resources.Get "css/pure.css" }}
{{ $customcss := resources.Get "css/style.css" }}
{{ $purecssgrids := resources.Get "css/pure-grids-responsive.css" }}
{{ $purecssgrids_old_ie := resources.Get "css/pure-grids-responsive-old-ie.css" }}

{{ $css := slice $purecssbase $purecssgrids $customcss | resources.Concat "css/bundle.css" | minify | fingerprint "sha256" }}
{{ $css_old_ie := slice $purecssbase $purecssgrids_old_ie $customcss | resources.Concat "css/bundle-old-ie.css" | minify | fingerprint "sha256" }}

<meta name="viewport" content="width=device-width, initial-scale=1">

{{ `<!--[if lte IE 8]>` | safeHTML }}
    <link rel="stylesheet" href="{{ $css_old_ie.Permalink }}" {{ printf "integrity=%q" $css_old_ie.Data.Integrity | safeHTML }}>
{{ `<![endif]-->` | safeHTML }}
{{ `<!--[if gt IE 8]><!-->` | safeHTML }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" {{ printf "integrity=%q" $css.Data.Integrity | safeHTML }}>
{{ `<!--<![endif]-->` | safeHTML }}

<title>{{ .Site.Title }}</title>