{{ define "main" }}
<div class="container">
    <form class="pure-form" action="https://duckduckgo.com" method="GET">
        <div class="pure-g">
            <div class="pure-u-1-5"></div>
            <div class="pure-u-3-5">
                <input class="pure-input-1" type="text" name="q" autocomplete="off" autofocus="on" placeholder="Search DuckDuckGo">
            </div>
            <div class="pure-u-1-5"></div>
        </div>
    </form>
    <div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <div class="pure-g">
                {{- range .Site.Menus.section }}
                <div class="pure-u-1 pure-u-md-1-3">
                    <h2>{{ .Name }}</h2>
                    <ul>
                        {{- range .Children }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{- end }}
                    </ul>
                </div>
                {{- end }}
            </div>
        </div>
        <div class="pure-u-1-5"></div>
    </div>
</div>
{{ end }}
